@font-face {
    font-family: "suseongHyejeong";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/suseongHyejeong/suseongHyejeong.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/suseongHyejeong/suseongHyejeong.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/suseongHyejeong/suseongHyejeong.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/suseongHyejeong/suseongHyejeong.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/suseongHyejeong/suseongHyejeong.ttf") format("truetype");
    font-display: swap;
}
.suseongHyejeong {
    font-family: "suseongHyejeong";
}